body {
    
    padding-bottom: 20px;
    /*min-width:960px;*/
    background-color:slategrey;
    padding-top:50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
div.layout_place_bottom {
    height:100px;
}.link_standart_for_circle_60_div {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    border-radius: 60px;
    text-decoration: none;
    /*vertical-align: middle; padding: -1em 0;*/
}
.link_standart_for_circle_60_div:hover {
    text-decoration: none;
}.link_standart_for_div {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    color: black; /* Цвет ссылки */
}

.link_standart_for_circle_30_div {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    border-radius: 30px;
}

.link_standart_for_circle_50_div {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    border-radius: 50px;
}


img {
    width: 100%;
    height: 100%;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.text-box {
    line-height: 30px;
    height: 30px;
    font-size: 14pt;
    width: 100%;
}

div.for_separation {
}

div.div_inline_block {
    display: inline-block;
    vertical-align: top;
}

div.div_color_white {
    background-color: white;
}
div.div_body {
    position:relative;
    width: 70%;
    margin-left: 15%;
    min-height:400px;
    z-index:3;
    background-color:white;
}div.main_header_one_block {
    width: 25%;
    margin-left: 7%;
    height: 80%;
}
div.main_header_block_all {
    height: 300px;
    position: fixed;
    width: 70%;
    z-index: 100;
    margin-top: -330px;
    background-color: aliceblue;
    transition: 2s;
}
    div.main_header_block_all:hover {
        margin-top:-60px;

    }
div.main_header_block_lvl_2{
    height:260px;
}
.main_header_hello{
    text-align:center;
    font-size:25pt;
    color:black;
}
div.main_header_link_1 {
    height:30px;
    font-size: 25pt;
    color: black;
}
div.main_header_add_button {
    position: relative;
    height: 60px;
    width: 60px;
    transition: 3s;
    font-size: 30pt;
    color: black;
    /* border: 3px solid black;*/
    border-radius: 60px;
    margin: auto;
    margin-top: 20px;
    background-image: url(/Content/images/plus.PNG);
    background-size: 100% 100%;
}

    div.main_header_add_button:hover {
        transform: rotate(360deg);
    }
div.main_header_edit_button {
    position: relative;
    height: 60px;
    width: 60px;
    transition: 3s;
    font-size: 30pt;
    color: black;
    /* border: 3px solid black;*/
    border-radius: 60px;
    margin: auto;
    margin-top: 20px;
    background-image: url(/Content/images/edit.PNG);
    background-size: 100% 100%;
}

div.main_header_edit_button:hover {
    transform: rotate(-360deg);
}
div.right_block_link_l {
    position: fixed;
    left: 12%;
    top: 200px;
    z-index: 1;
}
div.right_block_one_link {
    position: relative;
    height: 60px;
    width: 60px;
    font-size: 28pt;
    color: black;
    border: 2px solid black;
    border-radius: 60px;
    transition: 2s;
    z-index: 1;

}
    div.right_block_one_link:hover {
        margin-left: -30px;
        transition: 2s;
        background-color:black;
    }


    /*List*/

div.List_one_block_img{
    width:100%;
    height:180px;
}
div.List_one_block{
    width:20%;
    height:300px;
    margin-left:40px;
}

/*Personal_record*/
div.Personal_record_left_block{
    width:74%;
    
    
}
div.Personal_record_right_block {
    margin-left:4%;
    width: 20%;

}
div.Personal_record_main_img_div{
    border:1px solid black;
    width:100%;
    height:200px;
}
div.Personal_record_small_img_watch{
    width:100%;
    height:200px;
}
div.Personal_record_one_left_view_block {
    height: 200px;
    margin-left: 5px;
    margin-top: 50px;
}
div.Personal_record_one_column_view{
    width:30%;
    
}

/*Film_view*/
div.Film_view_looked_img {
    height: 100%;
    width:100%;
}
div.Film_view_looked_img_lvl1 {
    height: 60px;
    width: 15%;
    max-width: 60px;
    float:right;
}div.Film_view_image_film {
    height: 250px;
    width: 100%;
}
div.Film_view_left_all_block {
    width: 60%;
    text-align: center;
}
div.Film_view_right_all_block{
    width:35%;
    margin-left:4%;
}
div.Film_view_opinion{
    border:2px solid black;
}
div.Film_view_name_film {
    width: 80%;
    text-align: left;
}
div.Film_view_name_film_lvl_1 {
    text-align: left;
}




/*Book_view*/
div.Book_view_looked_img {
    height: 100%;
    width: 100%;
}

div.Book_view_looked_img_lvl1 {
    height: 60px;
    width: 15%;
    max-width: 60px;
    float: right;
}

div.Book_view_image_book {
    height: 250px;
    width: 100%;
}

div.Book_view_left_all_block {
    width: 60%;
    text-align: center;
}

div.Book_view_right_all_block {
    width: 35%;
    margin-left: 4%;
}

div.Book_view_opinion {
    border: 2px solid black;
}

div.Book_view_name_book {
    width: 80%;
    text-align: left;
}

div.Book_view_name_book_lvl_1 {
    text-align: left;
}


/*Series_view*/
div.Series_view_looked_img {
    height: 100%;
    width: 100%;
}

div.Series_view_looked_img_lvl1 {
    height: 60px;
    width: 15%;
    max-width: 60px;
    float: right;
}

div.Series_view_image_series {
    height: 250px;
    width: 100%;
}

div.Series_view_left_all_block {
    width: 60%;
    text-align: center;
}

div.Series_view_right_all_block {
    width: 35%;
    margin-left: 4%;
}

div.Series_view_opinion {
    border: 2px solid black;
}

div.Series_view_name_series {
    width: 80%;
    text-align: left;
}

div.Series_view_name_series_lvl_1 {
    text-align: left;
}


/*Season_view*/
div.Season_view_looked_img {
    height: 100%;
    width: 100%;
}

div.Season_view_looked_img_lvl1 {
    height: 60px;
    width: 15%;
    max-width: 60px;
    float: right;
}

div.Season_view_image_season {
    height: 250px;
    width: 100%;
}

div.Season_view_left_all_block {
    width: 60%;
    text-align: center;
}

div.Season_view_right_all_block {
    width: 35%;
    margin-left: 4%;
}

div.Season_view_opinion {
    border: 2px solid black;
}

div.Season_view_name_season {
    width: 80%;
    text-align: left;
}

div.Season_view_name_season_lvl_1 {
    text-align: left;
}